<!--footer-->
<section class="page1">
  <!--social media icons-->
  <div class="social">
    <div>
      <a href="https://www.facebook.com/people/Acecraft/100054617762042/">
        <img id="icon" src="{{fb}}" alt="facebook"></a>
    </div>
    <div>
      <a href="https://www.instagram.com/acecraft.in/">
        <img id="icon" src="{{insta}}" alt="instagram"></a>
    </div>
    <div>
      <a href="https://www.linkedin.com/in/acecraft-clothing-4b451445/">
        <img id="icon" src="{{link}}" alt="linkedin"></a>
    </div>
  </div>
  <div class="footer mt-1 pb-4">
    <!--footer contents-->
    <div class="container">
      <div class="row text-center">
        <div class="col-sm-3 col-lg-2"><a href="#">ABOUT</a></div>
        <div class="col-sm-3 col-lg-2"><a href="#">CARE</a></div>
        <div class="col-sm-3 col-lg-2"><a href="#">RETURNS</a></div>
        <div class="col-sm-3 col-lg-2"><a href="#">PRODUCTION</a></div>
        <div class="col-sm-3 col-lg-2"><a href="#">TERMS</a></div>
        <div class="col-sm-3 col-lg-2 border-0"><a href="#">GET HELP</a></div>
      </div>
    </div>
  </div>
</section>