<!--page1-->
<section class="page1">
  <!--data fetch from json-->
  <div class="container" *ngFor="let prod of productsData">
    <div class="row">
      <!--product image-->
      <div class="col-6 text-center">
        <img src="{{prod.image}}" alt="product">
      </div>
      <!--product contents-->
      <div class="col-6 text-start" id="list1">
        <h1>{{ prod.text }}</h1>
        <p>Product Code: {{ prod.pcode }}</p>
        <p>Brand: {{ prod.brand }}</p>
        <p>Sold By: {{ prod.soldby }}</p>
        <span class="price">
          {{ prod.price | currency : "INR" : "symbol" : "3.0" }}
        </span>
        <span class="originalprice">
          <s><small>{{prod.originalprice | currency : "INR" : "symbol" : "3.0" }}</small></s></span>
        <br />
        <br />
        <span *ngIf="prod.offerpercent" class="offer"> {{ prod.offerpercent }}% OFF </span>
        <hr>
        <div *ngIf="prod.pcode!='HNDC-SALES/CW'">
          <span class="gender">GENDER:</span>
          <select [(ngModel)]="carts.gender" class="dropdown">
            <option value="0" disabled>Please select</option>
            <option *ngFor="let g of prod.gender" value="{{g}}">{{g}}</option>
          </select>
        </div>
        <div *ngIf="prod.pcode==='HNDC-SALES/CW'">
          <span class="dept">DEPARTMENT:</span>
          <select [(ngModel)]="carts.department" class="dropdown">
            <option value="0" disabled>Please select</option>
            <option *ngFor="let d of prod.department" value="{{d}}">{{d}}</option>
          </select>
        </div>
        <hr>
        <span class="quantity">Quantity</span>
        <input id="amt" [(ngModel)]="quantity" type="number" min="1" step="1" value="1">
        <br>
        <br>
        <div class="form d-flex">
          <!--add to cart button-->
          <button (click)="addtoCart(prod)" type="button" id="btn1" class="me-2">Add to Cart</button>
          <!--buy now button-->
          <button type="button" id="btn2">Buy Now</button>
        </div>
      </div>
    </div>
    <!--description-->
    <div class="row mt-5">
      <span class="description">Description of product</span>
      <p id="des1">{{prod.description}}</p>
      <div *ngIf="prod.id===1 || prod.id===2 ">
        <p id="head1">{{prod.header1}}</p>
        <p id="des2">{{prod.content1}}</p>
        <p id="des2">{{prod.content2}}</p>
        <p id="des2">{{prod.content3}}</p>
        <p id="head2">{{prod.header2}}</p>
        <p id="des3">{{prod.content4}}</p>
        <p id="des3">{{prod.content5}}</p>
      </div>
    </div>
  </div>
  <div class="container">
    <app-product-list></app-product-list>
  </div>
</section>