.row {
    width: 100%;
}

.page1 {
    background-image: url("/assets/images/Enterprises-1.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center 100px;
    background-repeat: no-repeat;
    position: relative;
    padding: 100px 0 150px 0;
}

.header {
    justify-content: center;
}

#honda {
    width: 223px;
    height: 50px;
}

#link {
    font-family: proxima;
    text-decoration: none;
    color: black;
    font-weight: 100;
    font-size: 15px;
}

.item2 {
    font-family: proxima;
    font-size: 30px;
    color: #978f8f;
    font-weight: bold;
    text-align: center;
    margin-top: 10em;
    line-height: 1.2;
}

.page2 {
    background-color: #dadada;
}

.content2 {
    padding-top: 5em;
}

.content2 h1 {
    font-family: proxima;
    color: #000000;
    font-weight: bolder;
}

.content2 p {
    font-family: proxima;
    font-size: 15px;
    color: #000000;
    font-weight: 400;
}

.card-container {
    padding-top: 3em;
    padding-bottom: 3em;
}

.card1 {
    height: 300px;
    width: 300px;
    background-image: url("/assets/images/Enterprises-2.png");
    background-size: cover;
    border-radius: 10px;
    transition: transform .2s;
}

.card2 {
    height: 300px;
    width: 300px;
    background-image: url("/assets/images/Enterprises-3.png");
    background-size: cover;
    border-radius: 10px;
    transition: transform .2s;
}

.card3 {
    height: 300px;
    width: 300px;
    background-image: url("/assets/images/Enterprises-4.png");
    background-size: cover;
    border-radius: 10px;
    transition: transform .2s;
}

.card-container h2 {
    font-family: proxima;
    font-weight: 100;
    color: #978f8f;
}

.card-container h5 {
    font-family: proxima;
    font-weight: 450;
    color: #978f8f;
}

.card1 .card-body {
    padding-top: 115px;
}

.card2 .card-body {
    padding-top: 95px;
}

.card3 .card-body {
    padding-top: 75px;
}

.card1:hover,
.card2:hover,
.card3:hover {
    transform: scale(0.9);
}

.page3 {
    background-color: #000000;

}

.header2 {
    font-family: proxima;
    text-align: center;
    color: #978f8f;
    font-weight: bold;
    padding-top: 3em;
}


.time1 img {
    width: 105px;
    height: 108px;
}

.event-content {
    font-family: proxima;
    font-size: 24px;
    font-weight: 200;
    color: #978f8f;
    text-align: start;
}


.event-id {
    font-family: proxima;
    font-weight: bold;
    font-style: normal;
    font-size: 19px;
    padding: 0 5px 0 5px;
}

.page4 {
    padding-top: 9em;
    background-color: #000000;
}

.design {
    color: #978f8f;
    border: 1px solid #000000;
    background-color: #000000;
    width: 240px;
    height: 155px;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    margin-top: 37em;
    margin-right: 2em;
    padding: 15px;
}

#c1,
#c2,
#c3 {
    font-family: proxima;
    line-height: 0.8;
    font-size: 15px;
}

#c2 {
    font-family: blenheim;
    font-size: 18px;
    position: relative;
}

#c2::before {
    content: "";
    display: block;
    width: 80px;
    height: 2px;
    background: #978f8f;
    left: 5px;
    top: 32%;
    position: absolute;
}

#c2::after {
    content: "";
    display: block;
    width: 80px;
    height: 2px;
    background: #978f8f;
    right: 5px;
    top: 32%;
    position: absolute;
}

#c3 {
    line-height: 0.4;
    letter-spacing: 5px;
}

#btn1 {
    font-family: proxima;
    border-color: white;
    color: white;
    border-radius: 0%;
}

#ent1,
#ent2 {
    width: 100%;
    height: 655px;
    position: relative;
    z-index: 0;
}

.modal-title {
    font-family: proxima;
    text-align: center;
    margin-left: 50px;
}

input {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px 10px 20px 46px;
}

#firstname,
#lastname {
    width: 200px;
    font-size: 15px;
    font-weight: 600;
    color: #555;
}

#email,
#org,
#phone,
#quan {
    font-size: 15px;
    font-weight: 600;
    color: #4d4d4d;
}

#firstname {
    margin-left: -11px;
}

#lastname {
    margin-left: 7px;
}

#choice {
    display: flex;
    margin-top: -8px;
}

#quantity1,
#quantity2,
#quantity3 {
    margin-top: -22px;
    margin-right: 5px;
    font-size: 15px;
    color: #4d4d4d;
}

label {
    margin-right: 20px;
}

#btn2 {
    width: 470px;
    border-radius: 100px;
}

.icons i {
    position: absolute;
}

.icon {
    margin-top: 30px;
    padding-right: 30px;
}

#chevron {
    width: 10px;
    height: 20px;
    position: relative;
    top: 1px;
    animation: mymove 1s linear infinite;
}

@keyframes mymove {
    0% {
        top: 0px;
    }

    50% {
        top: 10px;
    }

    100% {
        top: 0px;
    }
}