<div class="fixed-top">
    <nav class="navbar-expand-lg navbar-dark navigation">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 title">
                    <a class="navbar-brand" routerLink=''>acecraft</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                        <ul class="navbar navbar-nav me-auto ms-auto mb-2 menu">
                            <li class="nav-item">
                                <a class="nav-link" routerLink='/school'>SCHOOL</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLink='/college'>COLLEGE</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLink='/enterprise'>ENTERPRISE</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLink='/notes'>NOTES</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLink='/airenmask'>AIREN MASK</a>
                            </li>
                        </ul>
                        <div class="setting">
                            <i class="pi pi-cog p-3" style="font-size: 2rem;color: white;"></i>
                            <ul class="setitems">
                                <a routerLink='/user/login'>
                                    <li>Sign in | <i class="fa-solid fa-right-to-bracket" style="color: #978F8F;"></i>
                                    </li>
                                </a>
                                <a routerLink='/user/register'>
                                    <li>Register | <i class="fa-solid fa-user-plus" style="color: #978F8F;"></i></li>
                                </a>
                                <a routerLink=''>
                                    <li>Order Status | <i class="fa-solid fa-box" style="color: #978F8F;"></i></li>
                                </a>
                                <a routerLink=''>
                                    <li>Contact | <i class="fa-solid fa-comments" style="color: #978F8F;"></i></li>
                                </a>
                            </ul>
                        </div>
                        <a routerLink="/cartitems"><i class="pi pi-shopping-cart mr-4" pBadge
                                style="font-size: 2rem;color: white;" value="{{cartcount}}"></i></a>
                    </div>
                </div>
            </div>

        </div>
    </nav>
</div>