/*body*/
.row {
    width: 100%;
}

/*text*/
.p5 {
    font-family: proxima;
    color: #000000;
    font-size: 14px;
    text-align: center;
    font-weight: 700;
}

.container {
    cursor: pointer;
}