/*page1*/
.page1 {
    background-color: #FFFFFF;
    padding: 120px 0 0 0;
}

/*page2*/
.page2 {
    padding-bottom: 50px;
}

.date {
    font-family: proxima;
    font-size: 26px;
    font-weight: 500;
    color: black;
}

/*note title*/
.header {
    font-weight: 500;
    font-family: proxima;
    font-size: 39px;
    color: black;
    line-height: 0.8;
}

/*note subheadings*/
.sub {
    font-family: proxima;
    font-size: 14px;
    color: black;
    font-weight: 700;
}

/*note contents*/
.para {
    font-family: proxima;
    font-size: 14px;
    font-weight: 400;
}

/*note lists*/
ul li {
    line-height: 1.5;
    font-family: proxima;
    font-size: 14px;
    font-weight: 400;
    padding: 5px;
}

h3 {
    font-family: proxima;
    font-weight: 500;
    color: #978F8F;
}

/*form label*/
label {
    font: 15px proxima;
    color: #978F8F;
    font-weight: 700;
}

/*submit button*/
#btn1 {
    width: 1140px;
    height: 40px;
    border: none;
    background-color: #555555;
    color: #FFFFFF;
    border-radius: 100px;
    font: 15px proxima;
    font-weight: 500;
}

/*form input*/
input,
textarea {
    border: 1px solid #ccc;
    border-radius: 0;
}