<section class="page1">
    <div class="container">
            <div class="row" id="help">
                <span id="p1">How can</span><br>
                <span id="p2">we<strong> help?</strong></span>
            </div>
            <div class="row d-flex" id="boxes">
                <div class="col-3">
                    <p id="box">Account/Orders</p>
                </div>
                <div class="col-3">
                    <p id="box">Shipping</p>
                </div>
                <div class="col-3">
                    <p id="box">Payment</p>
                </div>
                <div class="col-3">
                    <p id="box">Others</p>
                </div>
            </div>
    </div>
</section>