<!--page1-->
<section class="page1">
    <div class="container">
        <div class="row" id="help">
            <span id="p1">How can</span><br>
            <span id="p2">we<strong> help?</strong></span>
        </div>
        <div class="row d-flex" id="boxes">
            <!--help box1-->
            <div class="col-3">
                <p id="box">Account/Orders</p>
            </div>
             <!--help box2-->
            <div class="col-3">
                <p id="box">Shipping</p>
            </div>
             <!--help box3-->
            <div class="col-3">
                <p id="box">Payment</p>
            </div>
             <!--help box4-->
            <div class="col-3">
                <p id="box">Others</p>
            </div>
        </div>
    </div>
</section>
<!--page2-->
<section class="page2">
    <div class="container">
        <div class="row">
            <!--cards-->
            <div class="col-6">
                <!--call-->
                <div class="card card1">
                    <div class="card-body">
                        <p id="c1">Call us directly at</p>
                        <p id="c2"><img src="/assets/images/care-icon-12.png" id="icon"> +91 87225 01111</p>
                        <p id="c3">10:30am <span>to</span> 5:30pm</p>
                        <p id="c4">Monday <span>to</span> Saturday</p>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <!--email-->
                <div class="card card2">
                    <div class="card-body">
                        <p id="e1">Email us at</p>
                        <p id="e2"><img src="/assets/images/care-icon-13.png" id="icon"> care@acecraft.in</p>
                        <p id="e3">After email we will get back</p>
                        <p id="e4">to you within 2 business days.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>