<section class="page1">
    <div class="container wrapper">
        <div class="container">
            <form action="">
                <div class="form-group">
                    <input type="text" placeholder="First Name">
                </div>
                <div class="form-group">
                    <input type="text" placeholder="Last Name">
                </div>
                <div class="form-group">
                    <input type="email" placeholder="Email">
                </div>
                <div class="form-group">
                    <input type="password" placeholder="Password">
                </div>
                <div class="form-group">
                    <input type="password" placeholder="Confirm Password">
                </div>
                <div class="form-group">
                    <input type="radio" value="School">
                    <input type="radio" value="Enterprise">
                </div>
                <div class="form-group">
                    <input type="text" placeholder="Dealership Name">
                </div>
                <div class="form-group">
                    <input type="text" placeholder="Dealership Number / Code">
                </div>
                <div class="form-group">
                    <input type="text" placeholder="City">
                </div>
                <div class="form-group">
                    <select>
                        <option disabled></option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="text" placeholder="GST Number">
                </div>
                <div class="form-group">
                    <button type="buttton" class="mt-1" id="btn1">
                        Register </button>
                </div>
                <div class="form-group mt-4 text-center">
                    <span class="forgot">Already have an account?<span>Login!</span>
                </div>
            </form>
        </div>
    </div>
</section>