<section class="page1">
    <div class="container text-center text1">
        <p class="p1">Decode</p>
        <p class="p2">your kind of designer uniforms.</p>
    </div>
</section>
<section class="page2">
    <div class="container">
        <div class="row">
            <div class="col-6 text-start">
                <p class="p3">SCHOOL <span class="total"> - {{itemcount}} items</span></p>
            </div> 
            <div class="col-6 text-end">
                <select (change)="onOptionsSelected($event)" id="sort1">
                    <option value="" disabled selected hidden>Sort by:</option>
                    <option value="l-h">Price : Low to High</option>
                    <option value="h-l">Price : High to Low</option>
                    <option value="n-asc">Name : Ascending Order</option>
                    <option value="n-desc">Name : Descending Order</option>
                </select>
            </div>
            <hr>
        </div>
        <div class="row mt-3">
            <p class="p4">NEW HORIZON GURUKUL</p>
        </div>
    </div>
    <div class="container justify-content-center">
        <div class="row">
            <div class="col-4 mb-3 justify-content-center"
                *ngFor="let dress of uniformlist | sort : [sortParam , sortDirection]">
                <app-single-item [item]="dress"></app-single-item>
            </div>
        </div>
    </div>
</section>