<section class="page1">
    <div class="container-breakpoint">
        <div class="row">
            <div class="col-6"></div>
            <div class="col-5 text-end" id="intro">
                <span class="one">
                    <h1>The acecraft collection.</h1>
                </span>
                <span class="two">Simple. Sharp.</span><br>
                <span class="three">Detailed perfection that makes you</span><br>
                <span class="four">look good and feel great. Put it on. It's like magic.</span><br><br>
                <span class="five">
                    <h4>Classic | Absolute | Signature</h4>
                </span>
            </div>
            <div class="col-1"></div>
        </div>
    </div>
</section>
<section class="page2">
    <div class="container-breakpoint">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4 justify-content-center text-center">
                <img src="/assets/images/woolen-ball.png" alt="woolen-ball" class="ball">
                <span class="point1">
                    <h2>Naturally Cutting-Edge.</h2>
                    <p>
                        The 'best of both worlds' has a new definition. Every fabric
                        in the acecraft line-up is made from a blend of two fibres
                        to give you the best range. No tech involved - it's just the touch
                        of nature.
                    </p>
                </span>
            </div>
            <div class="col-4"></div>
        </div>
        <div class="row mt-5">
            <div class="col-2"></div>
            <div class="col-4 justify-content-end">
                <img src="/assets/images/blended-wool.png" alt="blended-wool" class="wool">
            </div>
            <div class="col-4">
                <span class="point2">
                    <h1>The Blended Wool</h1>
                    <p>
                        The Blended Wool is a class apart - with a mix of polyester
                        for its wrinkle/crease-resistance and wool for warmth and
                        absorbency, end your day looking the same as how you
                        began it.
                    </p>
                </span>
            </div>
            <div class="col-1"></div>
            <div class="col-1"></div>
        </div>
        <div class="row mt-5">
            <div class="col-2"></div>
            <div class="col-4">
                <span class="point3">
                    <h1>The Blended Cotton</h1>
                    <p>
                        The Blended Cotton is extremely strong and breathable.
                        Easy to iron, this variant shrinks lesser than pure cotton and
                        retains its colour, which makes it a favourite choice for your
                        everyday college wear.
                    </p>
                </span>
            </div>
            <div class="col-1"></div>
            <div class="col-4 justify-content-end">
                <img src="/assets/images/blended-cotton.png" alt="blended-cotton" class="cotton">
            </div>
            <div class="col-1"></div>
        </div>
        <div class="row mt-5">
            <div class="col-2"></div>
            <div class="col-4 justify-content-end">
                <img src="/assets/images/blended-viscose.png" alt="blended-viscose" class="viscose">
            </div>
            <div class="col-1"></div>
            <div class="col-4">
                <span class="point4">
                    <h1>The Blended Viscose</h1>
                    <p>
                        The Blended Viscose addition combines two ends of the
                        spectrum - durability and a sense of softness. While the
                        polyester contributes to resilience and shape retention, the
                        viscose adds on to the overall absorbency, both sharpening
                        and softening your look at the same time.
                    </p>
                </span>
            </div>
            <div class="col-1"></div>
        </div>
    </div>
    <div class="container clg-1">
        <div class="row">
            <span class="clg">
                <p>THE ACECRAFT FIT</p>
                <h1>Comfy.</h1>
                <h1>Very Comfy.</h1>
                <p>It's not just the fabric - it's also the fit.<br>
                    The shoulders and sleeves fit right while the body feels<br>
                    relaxed, making it undoubtedly the best.</p>
            </span>
        </div>
    </div>
</section>
<section class="page3">
    <div class="container">
        <div class="row">
            <div class="col-5 justify-content-center" id="content1">
                <h1>Your pre-trial.</h1>
                <h1>Powered by our AI.</h1>
                <p>The acecraft Measurement Process is one<br>
                    among the world's most accurate methods.<br>
                    We set up a pre-trial event in your campus<br>
                    and make each one try on the right fit. No<br>
                    more guessing the right size business.</p>
            </div>
            <div class="col-7 justify-content-end" id="caro">
                <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="2000">
                            <img src="/assets/images/carousel-1.png" class="d-block w-100" alt="first">
                        </div>
                        <div class="carousel-item" data-bs-interval="2000">
                            <img src="/assets/images/carousel-2.png" class="d-block w-100" alt="second">
                        </div>
                        <div class="carousel-item">
                            <img src="/assets/images/carousel-3.png" class="d-block w-100" alt="third">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="page4">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <span class="design text-center">
                <p id="c1">Designer Uniforms</p>
                <p id="c2">by</p>
                <p id="c3">acecraft</p>
                <button type="button" id="btn1" class="btn btn-transparent" data-bs-toggle="modal"
                    data-bs-target="#exampleModal">
                    Get In Touch
                </button>

            </span>
        </div>
    </div>
</section>
<div class="modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Get your Uniforms designed and<br>styled by Us!</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid icons">
                    <div class="row">
                        <div class="col-6 ">
                            <i class="fa-solid fa-user fa-2xl icon" style="color: #d2d0d0;"></i>
                            <input type="text" id="firstname" placeholder="First Name">
                        </div>
                        <div class="col-6">
                            <input type="text" id="lastname" placeholder="Last Name">
                        </div>
                    </div><br>
                    <div class="row">
                        <i class="fa-solid fa-envelope fa-2xl icon" style="color: #d2d0d0;"></i>
                        <input type="email" id="email" placeholder="Professional Email">
                    </div><br>
                    <div class="row">
                        <i class="fa-solid fa-building fa-2xl icon" style="color: #d2d0d0;"></i>
                        <input type="text" id="org" placeholder="Organisation">
                    </div><br>
                    <div class="row">
                        <i class="fa-solid fa-mobile fa-2xl icon" style="color: #d2d0d0;"></i>
                        <input type="text" id="phone" placeholder="Phone No.">
                    </div>
                    <p id="quan">Quantity required</p>
                    <div id="choice">
                        <input type="radio" id="quantity1" name="age" value="50">
                        <label for="age1">10 - 50 sets</label><br>
                        <input type="radio" id="quantity2" name="age" value="100">
                        <label for="age2">51 - 100 sets</label><br>
                        <input type="radio" id="quantity3" name="age" value="100+">
                        <label for="age3">100+ sets</label><br><br>
                    </div>
                </div>
                <button type="button" id="btn2" class="btn btn-secondary" data-bs-dismiss="modal">Submit</button>
            </div>
        </div>
    </div>
</div>