.row {
    width: 100%;
}

.p5 {
    font-family: proxima;
    color: #000000;
    font-size: 14px;
    text-align: center;
    font-weight: 700;
}

.container {
    cursor: pointer;
}

.container:hover .view{
    display: block;
 
}

#btn1 {
    display: none;
    border: none;
    border-radius: 0%;
    z-index: 2;
    background-color: #000;
    color: white;
    font: 15px proxima;
    padding: 10px;
    top:50px;
}