/*Home page link*/
.container a {
    text-decoration: none;
    font-family: proxima;
    color: white;
}

/*page1*/
.page1 {
    background-color: #000000;
    height: 40em;
}

/*error line & no page exist line*/
h1,
h3 {
    font-family: proxima;
    color: #9e9e9e;
}