<section class="page1">
    <div class="container wrapper">
        <div class="container">
            <form [formGroup]="myForm1" novalidate>
                <h2 class="title">Login with ACECRAFT</h2>
                <div class="form-group mb-3">
                    <input type="text" class="form-control" placeholder="Username" formControlName="username"
                        [ngClass]="{'is-invalid':username.errors && (username.touched || username.dirty)}" />
                    <div class="invalid-feedback">
                        <strong *ngIf="username.errors?.required">Username is required</strong>
                        <strong *ngIf="username.errors?.minlength">Username length must be greater than
                            {{ username.errors?.minlength.requiredLength }} characters.
                        </strong>
                        <strong *ngIf="username.errors?.maxlength">Username length must be less than 17
                            characters
                        </strong>
                    </div>
                </div>
                <div class="form-group mb-3">
                    <input type="password" class="form-control" placeholder="Password" formControlName="password"
                        [ngClass]="{ 'is-invalid':password.errors && (password.touched || password.dirty)}" />
                    <div class="invalid-feedback">
                        <strong *ngIf="password.errors?.required">Password is required</strong>
                        <strong *ngIf="password.errors?.pattern">Password length should between 8-17 characters and must
                            contain
                            an uppercase, a lowercase, a digit and one symbol
                        </strong>
                    </div>
                </div>
                <div class="form-group">
                    <button type="buttton" class="mt-1" id="btn1" [disabled]="!myForm1.valid"
                        (click)="onSubmit(myForm1)">
                        Login </button>
                </div>
                <div class="form-group mt-4 text-center">
                    <span class="forgot">Forgot Password ?</span>
                </div>
            </form>
        </div>
    </div>
</section>