/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

@font-face {
    font-family: blenheim;
    src: url("/assets/fonts/Blenheim\ Signature\ v2.ttf");
}

@font-face {
    font-family: proxima;
    src: url("/assets/fonts/ProximaNova-Regular.otf");
}