/*body*/
.homelayer {
    background-color: #000000;
}
/*page1*/
.page1 {
    background-image: url("/assets/images/Home.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 120px 0 540px;
    margin-top: 6.5em;
    z-index: 0;
    position: relative;
}

#ace {
    position: absolute;
    z-index: 1;
    top: 550px;
    text-align: center;
}

.box {
    border: 1px solid white;
    text-align: center;
    width: 340px;
    margin: 240px auto 0 auto;
    z-index: 1;
    position: absolute;
    padding: 5px;
}

.row {
    width: 100%;
}

.thin {
    font-family: proxima;
    font-size: 36px;
    font-weight: 200;
    color: #978F8F;
}

.bold {
    font-family: proxima;
    font-size: 36px;
    font-weight: bold;
    color: #978F8F;
}

.link a {
    text-decoration: none;
    font-family: proxima;
    font-size: 18px;
    color: white;
    font-weight: bold;
}

/*page2*/
#img-container {
    overflow: hidden;
}

#img-container .school,
#img-container .work {
    transition: transform .8s;
}

#img-container:hover .school,
#img-container:hover .work {
    transform: scale(1.05);
}

/*page2 card1*/
.school {
    background-image: url("/assets/images/home1.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 120px 0 550px 0;
    z-index: 0;
}

.box1 {
    border: 1px solid white;
    text-align: center;
    width: 340px;
    margin: 320px auto 0 auto;
    z-index: 1;
    position: absolute;
    padding: 5px;
}

#ace1 {
    position: absolute;
    z-index: 1;
    top: 575px;
    text-align: center;
}

.link1 a {
    font-family: proxima;
    text-decoration: none;
    font-size: 18px;
    color: white;
    font-weight: bold;
}

/*page2 card2*/
.work {
    background-image: url("/assets/images/home2.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 120px 0 550px 0;
    z-index: 0;
}

.box2 {
    border: 1px solid white;
    text-align: center;
    width: 340px;
    margin: 320px auto 0 15px;
    z-index: 1;
    position: absolute;
    padding: 5px;
}

#ace2 {
    position: absolute;
    z-index: 1;
    top: 575px;
    text-align: center;
}

.link2 a {
    font-family: proxima;
    text-decoration: none;
    font-size: 18px;
    color: white;
    font-weight: bold;
}

/*chevron keyframes*/
#chevron {
    width: 10px;
    height: 20px;
    position: relative;
    top: 1px;
    animation: mymove 1s linear infinite;
}

@keyframes mymove {
    0% {
        left: 0px;
    }

    50% {
        left: 8px;
    }

    100% {
        left: 0px;
    }
}

@media (max-width:768px){
    .page1{
        margin-top: 70px;
        width:100%;
    }
}

@media (max-width:320px){
    .thin,.bold{
        font-size: 30px;
    }
    .box,.box1,.box2{
        width: 250px;
    }
}