<div class="container-breakpoint homelayer">
  <!--section 1-->
  <section class="page1">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-4 box">
          <span class="thin">Choose Class</span><br>
          <span class="bold">over the common</span>
        </div>
      </div>
    </div>
    <div class="container-fluid" id="ace">
      <div class="row justify-content-center">
        <div class="col-6">
          <div class="link">
            <a href="" class="">ACECRAFT FOR COLLEGES<i class="fas fa-chevron-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--section 2-->
  <section class="page2 mt-1">
    <div class="container-breakpoint">
      <div class="card-group">
        <!--card1-->
        <div class="card me-2 ms-1" id="img-container">
          <div class="container school">
            <div class="row justify-content-center">
              <div class="col-4 box1">
                <span class="thin">A grade</span><br>
                <span class="bold">of Greatness</span>
              </div>
            </div>
          </div>
          <div class="container-fluid" id="ace1">
            <div class="row justify-content-center">
              <div class="col-12">
                <div class="link1">
                  <a href="" class="">ACECRAFT FOR SCHOOLS<i class="fas fa-chevron-right"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--card2-->
        <div class="card me-1" id="img-container">
          <div class="container work ">
            <div class="row justify-content-center">
              <div class="col-4 box2">
                <span class="thin">workwear</span><br>
                <span class="bold">Redefined</span>
              </div>
            </div>
          </div>
          <div class="container-fluid" id="ace2">
            <div class="row justify-content-center">
              <div class="col-12">
                <div class="link2">
                  <a href="" class="">ACECRAFT FOR ENTERPRISES<i class="fas fa-chevron-right"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>