.page1 {
    background-color: #FFFFFF;
    padding: 250px 0 0 0;
}

#list1 h1 {
    font-family: proxima;
    font-weight: 500px;
    color: #000000;
}

#list1 p {
    font-family: proxima;
    font-size: 14px;
    font-weight: 700;
    color: #000000;
}

.price {
    font-family: proxima;
    font-size: 36px;
    color: #000000;
    font-weight: 300;
}

.originalprice {
    font-family: proxima;
    font-size: 18px;
    color: #000000;
    text-decoration: line-through;
    font-weight: 300;
}

.offer {
    border: 1px solid black;
    background-color: black;
    color: #FFFFFF;
    padding: 5px;
    font-family: proxima;
    font-size: 14px;
    margin-left: 30px;
}

.size,
.quantity,
.length {
    border: 1px solid black;
    background-color: black;
    color: #FFFFFF;
    padding: 10px 20px 10px 5px;
    font-family: proxima;
    font-size: 14px;
    width: 100px;
    height: 35px;
}

.waist {
    border: 1px solid black;
    background-color: black;
    color: #FFFFFF;
    padding: 10px 29px 10px 5px;
    font-family: proxima;
    font-size: 14px;
    width: 100px;
    height: 35px;
}

.dropdown {
    width: 135px;
    height: 40px;
    font-size: 15px;
    font-weight: 500;
    font-family: proxima;
    padding: 6px 12px
}

#amt {
    width: 135px;
    height: 40px;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    font-family: proxima;
}

#btn1,
#btn2 {
    background-color: #000000;
    border-radius: 0;
    border: none;
    color: #FFFFFF;
    font-family: proxima;
    font-size: 19px;
    padding: 8px 15px;
    margin-top: 50px;
}

.description {
    font-family: proxima;
    font-size: 16px;
    padding: 10px;
    background: whitesmoke;
    border: 1px solid #f1f1f1;
}

#policy {
    font-family: proxima;
    font-size: 14px;
    color: #000000;
    font-weight: 700;
    padding-top: 10px;
}

#des1 {
    font-size: 14px;
    font-family: proxima;
    color: #000000;
}

#des2 {
    margin-top: -0.5em;
}

#des3 {
    margin-top: -0.5em;
}

#des4 {
    margin-top: -0.5em;
}

#des5 {
    margin-top: -0.5em;
}

#des6,#des7{
    font-family: proxima;
    font-size: 14px;
    font-weight: 700;
    color: #000000;
    line-height: 0.8;
}
#des6{
    margin-top: -1.5em;
}

.out{
    background-color: #000000;
    color: #FFFFFF;
    font-family: proxima;
    font-size: 14px;
    border:1px solid black;
    border-radius: 0%;
    text-align: center;
    padding: 10px 230px 10px 230px;
}