.page1 {
    background-color: #FFFFFF;
    padding: 150px 0 50px 0;
}

.wrapper {
    border: 0.5px solid #f5eeee;
    padding: 25px;
}

form {
    width: 400px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 15px #d3d3d3;
    min-height: 510px;
    margin-left: auto;
    margin-right: auto;
}

.title {
    font-family: proxima;
    color: #978F8F;
    text-align: center;
    margin-top: 15px;
}

input,select {
    width: 350px;
    border-radius: 0;
}

#scl,
#ent {
    border: none;
    width:25px;

}

#btn1 {
    border-radius: 0;
    background-color: #000000;
    color: #FFFFFF;
    font: 15px proxima;
    width: 360px;
    height: 36px;
    cursor: pointer;
}

#log {
    cursor: pointer;
}

.already{
    font-family: proxima;
    color: #978F8F;
    font-size: 12px;
}